@charset "UTF-8";

@font-face {
  font-family: "inhabitu";
  src:url("/inhabitu.eot");
  src:url("/inhabitu.eot?#iefix") format("embedded-opentype"),
    url("/inhabitu.woff") format("woff"),
    url("/inhabitu.ttf") format("truetype"),
    url("/inhabitu.svg#inhabitu") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "inhabitu" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="inhabitu-"]:before,
[class*=" inhabitu-"]:before {
  font-family: "inhabitu" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inhabitu-twitter:before {
  content: "\67";
}
.inhabitu-tag:before {
  content: "\6a";
}
.inhabitu-tags:before {
  content: "\6b";
}
.inhabitu-pin:before {
  content: "\68";
}
.inhabitu-quill-pen:before {
  content: "\69";
}
.inhabitu-facebook:before {
  content: "\6d";
}
.inhabitu-github:before {
  content: "\6f";
}
.inhabitu-twitter-1:before {
  content: "\73";
}
.inhabitu-creative-commons:before {
  content: "\61";
}
.inhabitu-rss:before {
  content: "\64";
}
.inhabitu-linkedin:before {
  content: "\65";
}
.inhabitu-google:before {
  content: "\6c";
}
.inhabitu-chevron-left:before {
  content: "\62";
}
.inhabitu-chevron-right:before {
  content: "\63";
}
.inhabitu-info:before {
  content: "\66";
}
