@charset "UTF-8";

// Import fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Source+Code+Pro');

// Define font families
$family-serif: 'Playfair Display', serif;
$family-sans-serif: 'Raleway', sans-serif;
$family-monospace: 'Source Code Pro', monospace;

// Define colors
$orange: #ff8f00;
$blue: #0061b3;
$purple: #5d00a1;
$green: #12ad00;
$red: #fd0005;
$yellow: #fffd00;
$primary: $orange;
$link: $orange;
$link-hover: #bf6b00;
$footer-link-hover: #ffab3f;
$code: $blue;
$pre: $blue;

// Import icon and Bulma files
@import "inhabitu-icons";
@import "bulma/bulma";

// Set fonts
.title {
	font-family: $family-serif;
	font-weight: normal;
	}
.content {
	h1, h2, h3, h4, h5, h6 {
		font-family: $family-serif;
		font-weight: normal;
		}
}

// Set heights and widths
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1;
}
.container {
	max-width: 708px; // 768px minus padding and margin
	margin: auto;
}

// Set margins and paddings
.footer {
	padding-bottom: 3em;
}
.content blockquote {
	@extend .inhabitu-overflow;
}
.level-item:last-child, .is-mobile .level-item:last-child {
	margin-right: 0;
}
hr {
	@extend .inhabitu-overflow-top-bottom;
}
.card-content {
	padding: 1rem;
}

// Set colors
.hero-body {
	background-color: $white-ter;
	color: $grey;
	.container .title, .container .subtitle {
		color: $grey;
	}
}
.footer {
	background-color: $grey-dark;
	color: $light;
	a:hover {
		color: $footer-link-hover;
	}
}
.card {
	a {
		color: $text;
	}
	.is-size-7, a:hover {
		color: $grey;
	}
}
h6.message-header {
    @extend .message-header
}
.content small {
	color: $grey;
}
.content mark {
	background-color: #ffe3bf;
}
hr {
	background: none;
	border-bottom: 1px solid $grey-lighter;
}
.footer hr {
	border-color: $grey-darker;
}

// Inhabitu-specific styles
.inhabitu-overflow {
	margin-left: -1rem;
	margin-right: -1rem;
}
.inhabitu-overflow-top-bottom {
	@extend .inhabitu-overflow;
	margin-top: 3em !important;
	margin-bottom: 3em !important;
}
.inhabitu-overflow-top {
	@extend .inhabitu-overflow;
	margin-top: 3em !important;
}
.inhabitu-overflow-bottom {
	@extend .inhabitu-overflow;
	margin-bottom: 3em !important;
}
a.tag:hover {
	color: $link-hover;
	text-decoration: none;
}
a.tag.is-primary:hover {
	color: $primary-invert;
	background-color: $link-hover;
}
.content blockquote {
	@extend .inhabitu-overflow-top-bottom;
	font-size: $size-medium;
	border-left: 0.25em solid $primary;
	footer {
		@extend .heading;
		text-align: right;
		cite {
			font-style: normal;
		}
		cite::before {
			content: "—";
		}
	}
}
.content abbr {
	border-bottom: 1px dotted $text;
	text-decoration: none;
}
.content pre {
	@extend .inhabitu-overflow;
	padding: 1em;
	margin-bottom: 1em;
}
.content .message {
	@extend .inhabitu-overflow;
}
.content h6.message-header {
	font-family: $family-sans-serif;
	font-weight: bold;
	margin-bottom: 0;
}
.inhabitu-navbar-logo {
	margin-right: 0.5rem;
}
.inhabitu-logo {
	margin-bottom: -20px;
	margin-top: -20px;
	max-width: 240px;
}
.inhabitu-emphasize.section {
	@extend .hero-body;
}
img.inhabitu-author {
	border-radius: 100%;
}
.content figure {
	@extend .inhabitu-overflow-top-bottom;
	text-align: center;
	img {
		display: block;
		margin: auto;
	}
	figcaption {
		@extend .heading;
		font-style: normal;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 1rem;
	}
	.inhabitu-footer {
		@extend .heading;
		padding: 1em 24px 0 24px;
	}
}
